* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.coloroption {
    display: table-cell;
    height: 150px;
    width: 150px;
    cursor: pointer;
    box-shadow: 0 10px 34px rgba(0,0,0,0.5);
    margin: 10px;
}

.color1 {
    background-color: #333;
}

.color2 {
    background-color: #ce1515;
}

.color3 {
    background-color: aqua;
}

.color4 {
    background-color: blue;
}

.background-title h1 {
    font-size: 60px;
    margin-bottom: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.info p{
    font-size: 30px;
    margin-top: 30px;
}